/* Global */
@media print {
    body * {
        visibility: hidden;
    }

    #print-area,
    #print-area * {
        visibility: visible;
    }

    #print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}

/* Fin Global */
/* Navbar */
#navCejblanAdmin .burger {
    .menu {
        display: none;
    }
}

#navCejblanAdmin .burger.open {
    .menu {
        display: grid;
    }
}

/*Fin Navbar */