@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globales */
body {
  cursor: default;
}

section {
  min-height: 100vh;
}

ul {
  padding: 0 1rem;
}

li {
  display: list-item;
  list-style-type: disc;
  padding: 0.3rem 1rem;
  line-height: 1.2rem !important;
}

ol li {
  list-style-type: circle;
}

/* Fin Globales */
/* Navbar */
#navCejblan .burger {
  .menu {
      display: none;
  }
}

#navCejblan .burger.open {
  .menu {
      display: grid;
  }
}

/* Fin Navbar */
/* Inicio */
#Cejblan.Destacado1 {
  background-image: url(/fondo.jpg);
  background-size: cover;
}

#Cejblan.Destacado2 {
  background-image: url(/cejblan02.webp);
  background-size: cover;
}

#Cejblan.Destacado3 {
  background-image: url(/cejblan03.webp);
  background-size: cover;
}

/* Cart */
input[type="number"].add::-webkit-inner-spin-button, 
input[type="number"].add::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* Fin Cart */
















/* Whatsapp Button */
#whatsappButton {
  bottom: 0.6rem;
  right: 0.6rem;
  filter: drop-shadow(0 0 3px black);
}

#whatsappButton:hover {
  background: white;

  svg {
    color: #22c55e;
  }
}

/* Fin Whatsapp Button */
/* Paypal Button */
#paypalButton {
  background: #eeeeee;
  bottom: 5.1rem;
  right: 0.6rem;
  filter: drop-shadow(0 0 3px black);

  svg {
    color: #0070ba;
  }
}

#paypalButton:hover {
  background: #0070ba;

  svg {
    color: #eeeeee;
  }
}

/* Fin Paypal Button */
/* Slider */
.slick-prev:before,
.slick-next:before {
  font-size: 3rem !important;
  color: black !important;
  position: relative;
}

.slick-prev:before {
  top: -0.7rem;
  left: -0.8rem;
}

.slick-next:before {
  top: -0.7rem;
  right: 0.8rem;
}

/* Fin Slider */
/* Privacy */
#privacy h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

#privacy h3 {
  font-weight: 500;
  padding: 0rem 0.2rem 0.5rem 0.2rem;
}

#privacy p,
#privacy ul {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

#privacy li {
  font-size: 1rem;
}

/* Fin Privacy */
/* Modal */
@keyframes modal {
  0% { background-color: #2563eb; } /* Estado inicial */
  50% { background-color: #f97316; } /* Cambio en el 50% */
  100% {
    background-color: #2563eb;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  } /* Cambio al final */
}

#modal {
  animation: modal 3s ease-in 0s 1 forwards;
  /* Duración, función de aceleración, retardo, repeticiones, modo de relleno */
}

/* Fin Modal */

/* Adaptar pantalla dispositivos móviles */
@media only screen and (min-width: 320px) and (max-width: 413px) {

  /* Paypal Button */
  #whatsappButton {
    bottom: 0.9%;
  }

  #paypalButton {
    bottom: 4.2rem;
  }

  /* Fin Paypal Button */
}