/* Global */

/* Fn Global */
/* Navbar */
#navAdriliciaus .burger {
    .menu {
        display: none;
    }
}

#navAdriliciaus .burger.open {
    .menu {
        display: grid;
    }
}

/* Fin Navbar */
/* Inicio */
#Adriliciaus.Destacado1 {
    background-image: url(/adriliciaus/adriliciaus01.webp);
    background-size: cover;
}

#Adriliciaus.Destacado2 {
    background-image: url(/adriliciaus/adriliciaus02.webp);
    background-size: cover;
}

#Adriliciaus.Destacado3 {
    background-image: url(/adriliciaus/adriliciaus03.webp);
    background-size: cover;
}

/* Cart */
input[type="number"].add::-webkit-inner-spin-button, 
input[type="number"].add::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Fin Cart */